<!--
  Generated template for the BestPathResultsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>המסלול הטוב ביותר</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #fffaea !important;">
	<!-- <button ion-button  style="margin-left: 20%; display: inline; float:left;" (click)="showList();">הצג רשימה</button>
	<button ion-button  (click)="showMap();" >הצג מפה</button> -->
	<ion-item style="background: #fffbb7 !important;">
			  <ion-label>הצג לפי :</ion-label>
			  <ion-select [(ngModel)]="showBy">
			    <ion-option value="m">מפה</ion-option>
			    <ion-option value="l">רשימה</ion-option>
			  </ion-select>
	</ion-item>		

			<div id="map" *ngIf="showBy=='m'" > </div> 

	<div id="listt" *ngIf="showBy=='l'">
			<ion-item ><h2 style="font-style: bold !important; text-align: center !important;">: הכנו את המסלול הטוב ביותר עבורך </h2></ion-item>
			<div  *ngFor="let res of results" style="display: inline !important;background: #f7df8a !important;border-color: #000 !important; border-width: 100px !important; ">
					     	 <ion-card (click)='openCardAlert(res._id);' style="display: inline !important;" id="card" style="width: 300px !important; margin-left: 10% !important; height:70px !important; border-color: #000 !important; border-width: 100px !important;">
					     			<h4 class="attr-name" style="color: gray !important;">{{res.name}} </h4>
					     		אטרקציה של 	 {{res.type}} 
					     			<br/> ב{{res.area}}
					     			<br/> 
					     		<div id="rate"> <span color="#F2DA3F" >	{{toInt(res.engoyrating)}}	<ion-icon name="ios-star"> :דירוג 
					     		</ion-icon></span>
					     		</div>	
					     		
					     	</ion-card>

					     	<div class="line" style="margin-left: 50%; margin-bottom: 3px; width:3px; height: 40px; background: #000 !important; "><h1></h1></div>
					     	<div class="line" style="margin-left: 50%; width:3px;margin-bottom: 3px; height: 7px; background: #000 !important; "><h1></h1></div>
					     	<div class="line" style="margin-left: 50%; width:3px;margin-bottom: 3px; height: 7px; background: #000 !important; "><h1></h1></div>
				</div>
				<div class="line" style="margin-left: 30%; margin-bottom: 3px;"><h1>מספיק .. הביתה :)</h1></div>
		</div>
	








</ion-content>
