<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

<div id="map"> </div> 
<div id="warnings-panel"></div>
</ion-content>
