<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="setting">

  <ion-item>
    <ion-label>הזן מספר לשליחה </ion-label>


  </ion-item>
    <ion-input type="text" style="border: 2px;" [(ngModel)]="number">sdf</ion-input>
     <button ion-button  color="danger" (click)="sendSMS();"  >שלח</button>
</ion-content>
