
<ion-header>

  <ion-navbar class="nav-transparent no-border" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class=" item-detail">
  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(' + restaurant.thumb + ')'}">
    <div class="inner">
      <div class="align-bottom" padding>
        <h2 color="white">{{ restaurant.name }}</h2>
        <div>
          <ion-icon name="md-star" color="white" *ngFor="let star of range(restaurant.rating)"></ion-icon>
          <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - restaurant.rating)"></ion-icon>
          <span color="white">{{ restaurant.reviews.length }} reviews</span>
        </div>
        <div>
          <span color="white">{{ restaurant.location.distance }} km</span>
        </div>
      </div>
    </div>
  </div>

  <!--buttons-->
<!--   <ion-grid class="buttons border-bottom">
  <ion-row>
    <ion-col text-center>
      <ion-icon name="ios-camera-outline" color="gray"></ion-icon>
      <span color="gray">POST CARD</span>
    </ion-col>
    <ion-col text-center>
      <ion-icon name="ios-bookmark-outline" color="gray"></ion-icon>
      <span color="gray">BOOKMARK</span>
    </ion-col>
    <ion-col text-center>
      <ion-icon name="md-share" color="gray"></ion-icon>
      <span color="gray">SHARE</span>
    </ion-col>
  </ion-row>
</ion-grid> -->

  <!--rating-->
  <div class="border-bottom" text-center padding>
    <span class="bold" color="gray">Rate this place</span>
    <div class="rating-form">
      <ion-icon name="ios-star" color="restaurant-color" font-size="10px" *ngFor="let star of range(rating); let i = index"
                (click)="rate(i + 1)"></ion-icon>
      <ion-icon name="ios-star-outline" color="restaurant-color" font-size="10px" *ngFor="let star of range(5 - rating); let i = index"
                (click)="rate(i + rating + 1)"></ion-icon>
    </div>
  </div>

  <!--scores-->
  <ion-grid>
    <ion-row>
      <ion-col text-center *ngFor="let score of restaurant.scores; let i=index" [hidden]="i > 3">
        <div class="progress-container p-{{ score.score }}">
          <div class="info">
            <span class="text-1x5">{{ score.score }}</span><span class="text-sm">%</span>
          </div>
        </div>

        <span>{{ score.name }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Show map here -->
  <div id="map-detail"></div>

  <!--Info-->
  <div class="border-bottom" padding>
    <div>{{ restaurant.address }}</div>
    <div>
      <span class="text-sm" color="gray">Address</span>
    </div>
    <div margin-top>
      <span>{{ restaurant.phone }}</span>
      <ion-icon class="pull-right" name="call" color="restaurant-color"></ion-icon>
    </div>
    <div>
      <span class="text-sm" color="gray">Phone</span>
    </div>
  </div>

  <!--Reviews-->
  <div class="border-bottom" padding>
    <span color="gray">Reviews</span>
    <ion-grid>
      <ion-row>
        <ion-col width-33 class="middle-align">
          <span class="rating-value" color="restaurant-color">
            {{ restaurant.rating }}
          </span>
        </ion-col>
        <ion-col width-66>
          <div *ngFor="let value of ratingValues; let i = index">
            {{ i + 1 }}
            <ion-icon name="star" color="gray"></ion-icon>
            <span class="progress-bar restaurant-bg" [ngStyle]="{'width': value + 'rem'}"
                  color="restaurant-color"></span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--list of reviews-->
  <ion-list margin-top class="list-full-border reviews">
    <div *ngFor="let review of restaurant.reviews">
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img src="{{ review.avatar }}">
        </ion-avatar>
        <div class="author">
          <span>{{ review.username }}</span>
          <span color="gray">from {{ review.from }}</span>
        </div>
        <div class="text-sm">
          <ion-icon name="md-star" color="restaurant-color" *ngFor="let start of range(review.rating)"></ion-icon>
        </div>
        <div>
          <span color="gray">{{ review.content }}</span>
        </div>

        <div>מומלץ עבור:</div>
        <div>
        <span *ngFor="let score of restaurant.scores">
          <span color="restaurant-color" *ngIf="score.id == review.recommended_for[0]">{{ score.name }},</span>
        </span>
          <span *ngFor="let score of restaurant.scores">
          <span color="restaurant-color" *ngIf="score.id == review.recommended_for[1]">{{ score.name }}</span>
        </span>
        </div>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
